.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

button {
    margin-left: 5px;
}

.table-actions {
    width: 150px;
}

.form-check {
    margin-left: 30px;
    border-color: blue;
}

.form-group-sm .form-control {
    margin-left: 380px;
  
}
.input-group-btn {
    position: absolute;
    margin-left: 330px;
    width: 150px;
}
/* 
.react-bs-table-container {
    height: 600px;
} */